/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;

  
}

.card__container {
  padding-block: 5rem;

  
}

.card__content {
  margin-inline: 1.75rem;
  overflow: hidden;
}

.card__article {
  width: 200px; /* Remove after adding swiper js */
  border: none;
  overflow: hidden;
}

.card__image {
  
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -.75rem;
  
}

.card__data {
 
  padding: 1.5rem 2rem;
  
  text-align: center;
  position: relative;
  z-index: 10;
  color: rgb(245, 179, 0);
}

.card__img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__shadow {
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

.card__name {
  font-size: var(--h2-font-size);
 
  margin-bottom: .75rem;
}

.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card__button {
  display: inline-block;
  color: black;
  padding: .75rem 1.5rem;
  border-radius: .25rem;
  background-color: rgb(255, 166, 0);
  font-weight: 600;
  
}

/* Swiper class */
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}


/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-prev {
    left: -1rem;
  }
  .swiper-button-next {
    right: -1rem;
  }
}


.item-title{
  justify-content: center;
  display: flex;
}

.offer-banner{
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.banner{
  width: 90%;
  height: 270px;
  background-color: bisque;
  align-items: center;
  justify-content: center;
  display: flex;

}
  
  /* clear background */
  h2 {
    
    text-align: center;
    padding: 16px;
    margin: 0;
    font-size: larger;
    
    
  }
  
  /* crops animations that exceeds one line area */
  .line {
    width: 50%;
    justify-content: center;
    height: 4rem;
    overflow: hidden;
    padding: 0;
    margin-bottom: 16px;
    font-size: larger;
    font-weight: 900;
    margin-right: 100px;
  }
  

.offer-banner button{
  display: flex;
  width: 100px;
  height: 40px;
  
}

 .offer-banner img{
  width: 250px;
  display: flex;
  
  
 }

 .imagetp{
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 100px;

 }
  
  /* subtle zoom to attention and then back */
  .pop-outin {
    animation: 2s anim-popoutin ease infinite;
  }
  
  @keyframes anim-popoutin {
    0% {
      color: rgb(21, 23, 139)1;
      transform: scale(0);
      opacity: 0;
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    25% {
      color: rgb(255, 170, 0);
      transform: scale(2);
      opacity: 1;
      text-shadow: 3px 10px 5px rgb(21, 23, 139)1;
    }
    50% {
      color: black;
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      /* animate nothing to add pause at the end of animation */
      transform: scale(1);
      opacity: 1;
      text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  .fromtop {
    animation: 2s anim-fromtop linear infinite;
  }
  @keyframes anim-fromtop {
    0% { opacity: 0; transform: translateY(-100%);}
    25% { opacity: 1; transform: translateY(0%);}
    50% {
    }
    100% {
    }
  }

  .social{

    display: flex;
    align-items: center;
    justify-content: center;

  }

  .social img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }




.footer-left{
  width: 50%;
  height: 200px;
 
}

.footer-right{
  
  width: 50%;
  height: 200px;
  display: flex;
 
}

.footer h4{
  color: rgb(255, 191, 0);
  margin-left: 200px;
  margin-top: 80px;
}

.footer h5{
  color: rgb(255, 191, 0);
  margin-left: 20px;
  margin-top: 70px;
}
.social{
  width: 50%;
}

.footer p{
  color: rgb(255, 191, 0);
  margin-left: 20px;
 
}



/*---- MOBILE----*/
@media only screen and (max-width: 450px) {
  .banner-right {
      border-radius: 0;
  }

}

